streamlit
yt-dlp
youtube-transcript-api
fpdf
PyPDF2
python-docx
openai
anthropic
google-generativeai
langdetect
deep-translator
networkx
sentence-transformers
spacy
pyvis
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
